<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>825554886598-tf6c0nsstnjresssjttdq45fnj5frdlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825554886598-tf6c0nsstnjresssjttdq45fnj5frdlu</string>
	<key>API_KEY</key>
	<string>AIzaSyBCvd42WXhWnNc-fcxTOTtLLyI2_0O8gsA</string>
	<key>GCM_SENDER_ID</key>
	<string>825554886598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sensor.UserMarlabs</string>
	<key>PROJECT_ID</key>
	<string>fire-ade3e</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-ade3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825554886598:ios:c60acb2ca069f02f</string>
	<key>DATABASE_URL</key>
	<string>https://fire-ade3e.firebaseio.com</string>
</dict>
</plist>